$schema: "https://json-schema.org/draft/2020-12/schema"
description: configuration file for the analysis pipeline
properties:
  samplesheet:
    type: string
    description: path to the sample sheet in tsv format
  get_genome:
    type: object
    properties:
      database:
        type: string
        description: database to use for genome retrieval, 'ncbi' or 'manual'
      assembly:
        type: string
        description: assembly version to use for genome retrieval, e.g. 'GCF_000307535.1'
      fasta:
        type: [string, "null"]
        description: path to a custom FASTA file (optional)
      gff:
        type: [string, "null"]
        description: path to a custom GFF file (optional)
      gff_source_type:
        type: array
        description: mapping of GFF source types to feature types
    required:
      - database
      - assembly
      - gff_source_type
  processing:
    type: object
    properties:
      tool: 
        type: string
        description: which tool is being used to process fastq files
        enum: ["fastp", "trim_galore"]
      fastp:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to Fastp
      trim_galore:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to trim_galore     

  mapping:
    type: object
    properties:
      tool:
        type: string
        description: mapping tool to use, one of 'bowtie2', 'bwa_mem2', 'star'
        enum: ["bowtie2", "bwa_mem2", "star", "minimap2"]
      bowtie2:
        type: object
        properties:
          index:
            type: string
            description: additional arguments to bowtie build
          extra:
            type: string
            description: additional arguments to bowtie align
      bwa_mem2:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to bwa-mem2
          sort:
            type: string
            description: sorting tool to use, e.g. 'samtools'
          sort_order:
            type: string
            description: sorting order to use
          sort_extra:
            type: string
            description: additional arguments to pass to the sorting tool
      star:
        type: object
        properties:
          index:
            type: string
            description: additional arguments to STAR index
          extra:
            type: string
            description: additional arguments to STAR align
      minimap2:
        type: object
        properties:
          index:
            type: string
            description: additional arguments to minimap2 index
          extra:
            type: string
            description: additional arguments to minimap2 align
          sorting:
            type: string
            description: sorting order to use
          sort_extra:
            type: string
            description: additional arguments to pass to the sorting tool
      samtools_sort:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to Samtools sort
      samtools_index:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to Samtools index
    required:
      - tool
  mapping_stats:
    type: object
    properties:
      gffread:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to GFFread
      rseqc_infer_experiment:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to RSeQC infer_experiment.py
      rseqc_bam_stat:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to RSeQC bam_stat.py
      deeptools_coverage:
        type: object
        properties:
          genome_size:
            type: integer
            description: genome size in base pairs
          extra:
            type: string
            description: additional arguments to pass to DeepTools bamCoverage
    required:
      - gffread
      - rseqc_infer_experiment
      - rseqc_bam_stat
      - deeptools_coverage
  qc:
    type: object
    properties:
      multiqc:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to MultiQC
      fastqc:
        type: object
        properties:
          extra:
            type: string
            description: additional arguments to pass to FastQC
    required:
      - multiqc
      - fastqc
required:
  - samplesheet
  - get_genome
  - processing
  - mapping
  - mapping_stats
  - qc